[Unit]
Description=Snapable API
After=docker.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill api
ExecStartPre=-/usr/bin/docker rm api
ExecStartPre=/usr/bin/docker pull quay.io/marc_meszaros/api:latest
ExecStart=/usr/bin/docker run --rm --name api -p 80:80 -e DATABASE_NAME="snapabledevdb" -e DATABASE_USER="snapable_devusr" -e DATABASE_HOST="2c42a22c61f6cb1da9c3aaa18116c55ea88efba1.rackspaceclouddb.com" -e DATABASE_PASSWORD="NBa10czNiIh67P9f" -e CLOUDFILES_IMAGES_PREFIX="devapi_images_" -e CLOUDFILES_DOWNLOAD_PREFIX="devapi_downloads_" -e CLOUDFILES_WATERMARK_PREFIX="dev_watermark" -e CLOUDFILES_PUBLIC_NETWORK=False -e SENTRY_DSN="https://aef76089605b498e854c3f32ebfceaba:e901e71a143643b48fd7f25429624f88@sentry.snapable.com/2" -e HOST_IP=${COREOS_PUBLIC_IPV4} quay.io/marc_meszaros/api
ExecStop=/usr/bin/docker stop api

[X-Fleet]
#MachineMetadata=role=worker
Conflicts=api@*.service