/* Metrics */
#metrics-range form {
    float: right;
}
#metrics-range label {
    display: inline;
}
#metrics-range label:hover {
    cursor: pointer;
}
#metrics-range input[type="radio"] {
    display: none;
}
#metrics-range input[type="radio"]:checked + label {
    text-decoration: underline;
}
/* The metrics refresh button */
#metrics-refresh:hover {
    cursor: pointer;
}

#metrics .panel-body {
    text-align: center;
    min-height: 60px;
}
#metrics .panel-body .value {
    font-weight: bold;
    font-size: 2.5em;
}